<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/admin/index.css">
    <link rel="stylesheet" href="../css/admin/common.css">
<body>
<div class="nav_top">
    <div class="flex-box">
        <div class="tubiao"><span class="glyphicon glyphicon-align-justify"></span></div>
        <div class="nav-item">管理控制台</div>
        <div class="nav-item">产品与服务</div>
        <div class="flex-box-1">
            <div class="setting-items flex-box">
                <div class="item"><span class="glyphicon glyphicon-user mr10"></span>若栖</div>
                <div class="item">用户名</div>
                <div class="item">退出</div>
            </div>
        </div>
    </div>
</div>