<div class="sidebar">
    <div class="slidebar-inner">
        <div class="slide-item">
            <div class="glyphicon glyphicon-menu-right slidebar-fold"></div>
        </div>
        <div class="slide-item">
            <div class="inner">
                <div class="inner-item"><span class="glyphicon glyphicon-triangle-right item-type"></span>文件</div>
                <a class="inner-item-1" href="/admin/upload"><span class="glyphicon glyphicon-erase"></span>歌曲添加</a>
                <a class="inner-item-1" href="/admin/songlist"><span class="glyphicon glyphicon-erase"></span>歌曲列表</a>
            </div>
        </div>
        <div class="slide-item">
            <div class="inner">
                <div class="inner-item"><span class="glyphicon glyphicon-triangle-right item-type"></span>分类</div>
                <a class="inner-item-1" href="/admin/sort"><span class="glyphicon glyphicon-erase"></span>分类</a>
            </div>
        </div>
        <div class="slide-item">
            <div class="inner">
                <div class="inner-item"><span class="glyphicon glyphicon-triangle-right item-type"></span>标签</div>
                <a class="inner-item-1" href="/admin/label"><span class="glyphicon glyphicon-erase"></span>标签</a>
            </div>
        </div>
    </div>
</div>