{{include './header'}}
<div class="content flex-box">
    {{include './slide'}}
    <div class="content-body flex-box-1">
        <div class="title">添加分类</div>
        <div class="form-group mt10">
            <input type="text" class="form-control" placeholder="请输入分类标签" name="sort" id="sort">
        </div>
        <button type="submit" class="btn btn-default" id="btn-submit">Submit</button>
        <div class="mt10 bg-white sort-list">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                </tr>
                </thead>
                <tbody class="sotrlist">
                {{each datas as value i}}
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{value.name}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="../js/lib/require.js" defer async="true" data-main="../js/admin/sort"></script>
{{include './footer'}}