{{include './header'}}
<div class="content flex-box">
    {{include './slide'}}
    <div class="content-body flex-box-1">
        <form action="" id="fileUpload">
            <div class="form-group">
                <label>歌名</label>
                <input type="text" class="form-control" placeholder="请输入歌曲名称" name="songname" id="songname">
            </div>
            <div class="form-group">
                <label>歌曲上传</label>
                <input name="music_song" type='file' class="form-control" placeholder="浏览" id="music_song"/>
            </div>
            <div class="form-group">
                <label>歌词上传</label>
                <input name="music_lrc" type='file' class="form-control" placeholder="浏览" id="music_lrc"/>
            </div>
            <div class="form-group">
                <label>封面上传</label>
                <input name="music_img" type='file' class="form-control" placeholder="浏览" id="music_img"/>
            </div>
            <div class="form-group">
                <label>分类</label>
                <select name="sort" id="sort" class="form-control">
                    <option value="1">古典</option>
                    <option value="2">流行</option>
                </select>
            </div>
            <div class="form-group">
                <label>排名</label>
                <input type="number" class="form-control" placeholder="请输入分类标签" name="rank" id="rank">
            </div>
            <div class="form-group">
                <label>歌手</label>
                <select name="songster" id="songster" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <button type="button" class="btn btn-default" id="btn-submit">Submit</button>
        </form>
    </div>
</div>
<script src="../js/lib/zepto.js"></script>
<script src="../js/admin/base.js"></script>
<script>
    $("#btn-submit").on('click',function () {
        var formdata = new FormData(fileUpload);
        $.ajax({
            url: '/admin/file_upload',
            type: 'POST',
            data: formdata,
            // async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function(result){
                if (result.success){
                    console.log(result)
                }else{
                    console.log("上传失败");
                }
            },
            error: function(){
                console.log("上传失败");
            }
        });
    })
</script>
{{include './footer'}}