<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/lib/sm.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="content native-scroll">
    <form action="" id="fileUpload">
        <div class="list-block">
            <ul>
                <!-- Text inputs -->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">歌名</div>
                            <div class="item-input">
                                <input type="text" placeholder="请输入分类标签" name="songname" id="songname">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">歌曲上传</div>
                            <div class="item-input">
                                <input name="music_song" type='file' placeholder="浏览" id="music_song"/>
                                <input name="song" type='text' id="music_song_file" class="hide"/>
                                <input type='button' value='提交' class="icon icon-check" id="upload_song">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">歌词上传</div>
                            <div class="item-input">
                                <input name="music_lrc" type='file' placeholder="浏览" id="music_lrc"/>
                                <input name="lrc" type='text' id="music_lrc_file" class="hide"/>
                                <input type='button' value='提交' class="icon icon-check" id="upload_lrc">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">封面</div>
                            <div class="item-input">
                                <input name="music_img" type='file' placeholder="浏览" id="music_img"/>
                                <input name="img_file" type='text' id="music_img_file" class="hide"/>
                                <input type='button' value='提交' class="icon icon-check" id="upload_img">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">分类</div>
                            <div class="item-input">
                                <select name="sort" id="sort">
                                    <option value="1">古典</option>
                                    <option value="2">流行</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">排名</div>
                            <div class="item-input">
                                <input type="number" placeholder="请输入分类标签" name="rank" id="rank">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">歌手</div>
                            <div class="item-input">
                                <select name="songster" id="songster">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-50"><a href="#" class="button button-big button-fill button-danger">取消</a></div>
                <div class="col-50"><a href="#" class="button button-big button-fill button-success"
                                       id="btn-submit">提交</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="../js/lib/zepto.js"></script>
<script src="../js/lib/sm.min.js"></script>
<!--<script src="../js/front/upload.js"></script>-->
<script>
    $("#btn-submit").on('click',function () {
        var formdata = new FormData(fileUpload);
        $.ajax({
            url: '/admin/file_upload',
            type: 'POST',
            data: formdata,
            // async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function(result){
                try {
                    if (result.success){
                        console.log(result)
                    }
                    else{
                        throw new Error("上传失败");
                    }

                } catch(e) {
                    console.log('上传失败')
                }
            },
            error: function(){
                throw new Error("上传失败");
            }
        });
    })
//    $("#upload_song").on('click', function () {
//        uploads('music_song', function (err, result) {
//            if (err) {
//                $.alert(err);
//            } else {
//                $.alert('上传成功');
//            }
//        });
//    })
//    $("#upload_lrc").on('click', function () {
//        uploads('music_lrc', function (err, result) {
//            if (err) {
//                $.alert(err);
//            } else {
//                $.alert('上传成功');
//            }
//        });
//    })
//    $("#upload_img").on('click', function () {
//        uploads('music_img', function (err, data) {
//
//        });
//    })
//    $("#btn-submit").on('click', function () {
//        var songname = $("#songname").val();
//        var sort = $("#sort").val();
//        var rank = $("#rank").val();
//        var songster = $("#songster").val();
//        $.ajax({
//            url: '/admin/songAdd',
//            type: 'POST',
//            data: {'songname': songname, 'sort': sort, 'rank': rank, 'songster': songster},
//            error: function (result) {
//                console.log('请求失败');
//            },
//            success: function (result) {
//                if (result.success) {
//                    console.log('请求成功');
////                location.reload();
//                }
//            }
//        })
//    })
</script>
</body>
</html>