{{include './header'}}
<body>
<div class="page" id="index">
    <header class="bar bar-nav">
        <a class="icon icon-me pull-left open-panel" data-panel=".panel-left"></a>
        <h1 class='title'>{{nav_title}}</h1>
    </header>
    <div class="content native-scroll menu">
        <div class="content-padded grid-demo">
            <div class="row">
                <div class="col-25">
                    <a href="/locallist?islocal=1">
                        <div class="icon icon-home local-icon"></div>
                        <div class="label">本地</div>
                    </a>
                </div>
                <div class="col-25">
                    <div class="icon icon-menu list-icon "></div>
                    <div class="label">歌单</div>
                </div>
                <div class="col-25">
                    <div class="icon icon-edit download-icon"></div>
                    <div class="label">下载</div>
                </div>
                <div class="col-25">
                    <div class="icon icon-search lab-icon"></div>
                    <div class="label">乐库</div>
                </div>
            </div>
            <div class="row sort">
                <div class="col-33">
                    <div class="icon-sort recommend"><img src="./img/recommend.png"></div>
                    <div class="label ">推荐</div>
                </div>
                <div class="col-33">
                    <div class="icon-sort daily-updates"><img src="./img/daily-updates.png"></div>
                    <div class="label">更新</div>
                </div>
                <div class="col-33">
                    <div class="icon-sort recent"><img src="./img/recent.png"></div>
                    <div class="label">最近</div>
                </div>
            </div>
        </div>
        <div class="list-block">
            <ul>
                <li class="item-content">
                    <div class="item-media"><img src="./img/tuiguang.png"></div>
                    <div class="item-inner">
                        <div class="item-title">最新新曲</div>
                        <div class="item-after">淋雨一直下</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {{include './music_control'}}
</div>
<!--左侧栏-->
{{include './left'}}
<script src="./js/lib/zepto.js"></script>
<script src="./js/lib/sm.min.js"></script>
</body>
{{include './footer'}}