<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
</head>
<body>
测试页面
<script>
    var times=0;
    function startWorker(){
        if(typeof(Worker)!=="undefined"){
            if(typeof(w)=="undefined"){
                w=new Worker("./js/front/demo_workers.js");
            }
            console.log('111111');
            w.postMessage("start");
        }
        else{
            console.log('暂无歌词');
        }
    }
    startWorker();

    w.addEventListener("message", function (ev) {
        console.log('222222');
        console.log('data'+ev.data);
        times=ev.data;
        console.log('times'+times);
    }, false);
</script>
</body>
</html>