@charset "UTF-8";
$theme-color:#CCFFFF;
$theme-font-color:#fff;
html,body{
  font-size: 20px;
  color: #3d4145;
}
.avatar-box{
  img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
  }
}
.mt0-i{
  margin-top: 0 !important;
}
.hide{
  display: none !important;
}
.flex-box {
  display: -webkit-flex;
  /* Safari */
  display: flex; }

.flex-box-1 {
  -webkit-flex: 1;
  flex: 1; }
header{
  background: $theme-color !important;
  .icon-me{
    color: #333;
  }
}
/*底部控制栏*/
.footer {
  width: 100%;
  box-shadow: 0px 4px 19px rgba(0,0,0,.6);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 .5rem;
  background: $theme-color;
  .tu-music {
    margin-right: .5rem;
    img {
      width: 3rem;
      height: 3rem;
      position: relative;
      top: -1rem;
      border-radius: 50%;
    }
  }
  .name-music {
    font-size: 14px;
    color: #333;
  }
  .autor-music {
    font-size: 12px;
    color: #666;
  }
  .progress-control {
    position: relative;
    height: 1rem;
    margin-top: .5rem;
    .btn {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: #FFCCCC;
      z-index: 10;
      position: absolute;
    }
  }
  .progress-control:after {
    content: '';
    position: absolute;
    top: .2rem;
    left: 0;
    width: 100%;
    height: .1rem;
    background: #ccc;
  }
  .start{
    width: 1.3rem;
    height: 1.3rem;
    background: url(../../img/start.png);
    background-size: 100% 100%;
    margin-left: 3.5rem;
    margin-right: 1.5rem;
  }
  .end{
    width: 1.3rem;
    height: 1.3rem;
    background: url(../../img/end.png);
    background-size: 100% 100%;
    margin-left: 3.5rem;
    margin-right: 1.5rem;
  }
  .next{
    width: 1.3rem;
    height: 1.3rem;
    background: url(../../img/next.png);
    background-size: 100% 100%;
    margin-right: 1.5rem;
  }
  .menu{
    width: 1.3rem;
    height: 1.3rem;
    background: url(../../img/menu.png);
    background-size: 100% 100%;
    margin-right: 0px;
  }
}